<div class=" col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.fname}}" placeholder="First Name" name="fname" />
        <label for="floatingInput">First Name</label>
    </div>
</div>
<div class=" col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.lname}}" placeholder="Last Name" name="lname" />
        <label for="floatingInput">Last Name</label>
    </div>
</div>
<div class=" col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="name@example.com" name="email" />
        <label for="floatingInput">Email address</label>
    </div>
</div>
<div class=" col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.contact}}" placeholder="Phone no" name="contact" />
        <label for="floatingInput">Phone no</label>
    </div>
</div>
<div class=" col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" id="comments" placeholder="Leave a comment here" name="comments" style="height: 100px;">{{this.comments}}</textarea>
        <label for="comments">Comments</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
